<div class="modal fade" id="userPasswordEditModal" tabindex="-1" role="dialog"
	aria-labelledby="userPasswordEditModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<form [formGroup]="form">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="userPasswordEditModal">Editar Senha: {{userData?.email}}</h5>
          <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" tabindex="-1" aria-label="Close">
            <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
          </div>
				</div>
				<div class="modal-body">
					<div class="row">
            <div class="col-12">
              <!-- <app-input-password identifier="password" label="Nova Senha" [form]="form" maxlength="200"></app-input-password> -->
              <label class="form-label fw-bolder text-dark fs-6 mb-3">Nova Senha</label>

              <div class="input-group">
                <input class="form-control bg-transparent" name="password" autocomplete="off" maxlength="25"
                  [type]="fieldTextType ? 'text' : 'password'"
                  formControlName="password"
                  [ngClass]="{
                    'is-invalid': form.controls['password'].invalid,
                    'is-valid': form.controls['password'].valid
                  }"
                  />
                  <div class="input-group-append h-100">
                    <span class="input-group-text show-hide-icon-password">
                      <i
                        class="fa"
                        [ngClass]="{
                          'fa-eye-slash': !fieldTextType,
                          'fa-eye': fieldTextType
                        }"
                        (click)="toggleFieldTextType()"
                      ></i>
                    </span>
                </div>
              </div>
              <div class="position-absolute popover-password">
                <p>A senha deve conter entre 6 e 25 caracteres.</p>
                <p>A senha deve conter pelo menos um número.</p>
                <p>A senha não pode conter espaços em branco.</p>
              </div>
            </div>
          </div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">
						Cancelar
					</button>
					<button type="button" class="btn btn-sm btn-primary" (click)="save()">
						Salvar
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
