<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" [id]="identifier"
    [name]="identifier"
    [attr.aria-invalid]="fieldIsInvalid()"
    [attr.aria-label]="getAccessibleLabel()"
    [attr.aria-required]="isRequired()"
    [formControl]="$any(form.controls[identifier])"
    [ngClass]="{ 'is-invalid': fieldIsInvalid() }">
  <label class="form-check-label" [for]="identifier" >
    {{label}}
  </label>
</div>
<div class="invalid-feedback" *ngIf="fieldIsInvalid()">{{label}}
  inválido</div>
<br/>
