<div class="container">
  <div class="row mb-3">
    <div class="col-lg-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Inicio</a></li>
          <li class="breadcrumb-item active" aria-current="page">Auditoria</li>
        </ol>
      </nav>
    </div>
  </div>
  <div *ngIf="loading" class="loading-overlay">
    <div class="loading-spinner"></div>
    <div>Carregando...</div>
  </div>

  <form [formGroup]="form" role="form">
    <div class="row">
      <div class="col-lg-12">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row mb-3">
              <div class="d-flex justify-content-end col-lg-12">
                <button class="btn-none" (click)="showGlobalAuditConfig()">
                  <i class="fa fa-cog" aria-hidden="true"></i>
                </button>
              </div>
            </div>
            <div class="row collapse show" id="collapseExample">
              <div class="row">
                <div class="col-lg-4">
                  <h3 class="title-cards mb-2">Tipo de auditoria</h3>
                  <select
                    id="audit_type"
                    class="form-select"
                    formControlName="audit_type"
                    (change)="onTypeChange()"
                  >
                    <option value="">Selecione o tipo</option>
                    <option
                      *ngFor="let type of auditType"
                      [value]="type.value"
                    >
                      {{ type.name }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-lg-12 mt-3" *ngIf="auditTypeSelected === 'execution_name'">
                <div class="row">
                  <div class="col-xl-6">
                    <app-input-text
                      identifier="execution_name"
                      label="Nome da Execução"
                      [form]="form"
                    ></app-input-text>
                  </div>
                  <div class="col-xl-4 pt-10">
                    <button
                      class="btn btn-sm btn-primary mr-2"
                      (click)="processIAexecution()"
                    >
                      <span class="fa fa-refresh" aria-hidden="true"></span>
                      Processar execução com IA
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 mt-3" *ngIf="auditTypeSelected === 'filter'">
                <div class="row">
                  <div class="col-lg-2">
                    <label for="industry" class="form-label">Indústria</label>
                    <select
                      id="industry"
                      class="form-select"
                      formControlName="industry"
                      (change)="onIndustryChange()"
                    >
                      <option value="">Selecione uma Indústria</option>
                      <option
                        *ngFor="let industry of industries"
                        [value]="industry.id"
                      >
                        {{ industry.name }}
                      </option>
                    </select>
                  </div>
                  <div class="col-lg-2">
                    <label for="category" class="form-label">Categorias</label>
                    <select
                      id="category"
                      class="form-select"
                      formControlName="category"
                    >
                      <option value="">Selecione a categoria</option>
                      <option
                        *ngFor="let category of industry_category"
                        [value]="category.id"
                      >
                        {{ category.name }}
                      </option>
                    </select>
                  </div>
                  <div class="d-flex col-lg-6 gap-3 mb-3">
                    <div class="col-6">
                      <app-input-calendar
                        identifier="start_date"
                        label="Data Inicial"
                        [form]="form"
                        placeholder="dd/mm/aaaa"
                      ></app-input-calendar>
                    </div>
                    <div class="col-6">
                      <app-input-calendar
                        identifier="end_date"
                        label="Data Final"
                        [form]="form"
                        placeholder="dd/mm/aaaa"
                      ></app-input-calendar>
                    </div>
                  </div>
                  <div class="col-xl-2 pt-10">
                    <button
                      class="btn btn-sm btn-primary mr-2 block"
                      (click)="filterExecutions()"
                    >
                      <span class="fa fa-filter" aria-hidden="true"></span>
                      Filtrar Execuções
                    </button>
                  </div>
                </div>
                <div class="row mt-5" *ngIf="loadingRange">
                  <div class="d-flex justify-content-center">
                    <div
                      class="spinner-border"
                      style="color: #0d3950"
                      role="status"
                    >
                      <span class="sr-only">carregando...</span>
                    </div>
                  </div>
                </div>
                <div class="row mt-5" *ngIf="filtred">
                  <div class="col-lg-12">
                    <h3 class="title-cards">Total geral de execuções para o período: <span style="font-size: 1.8rem;">{{totalExecutions | number}}</span></h3>
                  </div>
                </div>
                <div class="row mt-4" *ngIf="filtred && !loadingRange">
                  <div class="col-lg-4">
                    <label for="range" class="form-label"
                      >Porcentagem de execuções auditadas</label
                    >
                    <input
                      type="range"
                      id="range"
                      min="0"
                      max="100"
                      value="10"
                      (input)="valueChanged($event)"
                      style="width: 100%"
                    />

                    <h4>{{ rangevalue }} % | Total {{this.totalExecutionsAudited}}</h4>
                  </div>
                  <div class="col-xl-4 pt-5">
                    <button
                      class="btn btn-sm btn-primary mr-2"
                      (click)="processIAexecution()"
                    >
                      <span class="fa fa-check" aria-hidden="true"></span>
                      Auditar execuções automaticamente
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 mt-3" *ngIf="auditTypeSelected === 'recurrence'">
                <div class="row">
                  <div class="col-lg-3">
                    <label for="industry" class="form-label">Indústria</label>
                    <select
                      id="industry"
                      class="form-select"
                      formControlName="industry"
                      (change)="onIndustryChange()"
                    >
                      <option value="">Selecione uma Indústria</option>
                      <option
                        *ngFor="let industry of industries"
                        [value]="industry.id"
                      >
                        {{ industry.name }}
                      </option>
                    </select>
                  </div>
  
                  <div class="col-lg-3">
                    <label for="period" class="form-label">Periodo</label>
                    <select
                      id="period"
                      class="form-select"
                      formControlName="period"
                    >
                      <option value="">Selecione a categoria</option>
                      <option
                        *ngFor="let period of recorrencePeriod"
                        [value]="period.value"
                      >
                        {{ period.name }}
                      </option>
                    </select>
                  </div>

                  <div class="col-lg-3">
                    <label for="range" class="form-label"
                      >Porcentagem de execuções auditadas</label>
                    <input
                      type="range"
                      id="range"
                      min="1"
                      max="100"
                      value="10"
                      formControlName="range_recorrence"
                      (input)="valueChanged($event)"
                      style="width: 100%;"
                    />

                    <h4 class="text-center">{{ rangevalue }} %</h4>
                  </div>

                  <div class="col-lg-3 pt-10">
                    <button
                      class="btn btn-sm btn-primary mr-2"
                      (click)="saveRecorrence()"
                    >
                      <span class="fa fa-refresh" aria-hidden="true"></span>
                      Definir recorrencia de auditoria
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="row mt-30">
    <div class="col-lg-12">
      <div class="card mb-3">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-8">
              <h3 class="title-cards">Execuções auditadas com IA</h3>
            </div>
          </div>
          <div class="row mt-3">
            <div class="row" *ngIf="loadingList">
              <div class="d-flex justify-content-center">
                <div
                  class="spinner-border"
                  style="color: #0d3950"
                  role="status"
                >
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
            </div>
            <div
              class="table-responsive"
              *ngIf="!loadingList && executionList.length > 0"
            >
              <!-- <ng-container *ngIf="content.length > 0"> -->
              <ng-container>
                <table class="table table-bordered" role="table">
                  <thead>
                    <tr class="header-table">
                      <th class="text-start" scope="col">Indústria</th>
                      <th class="text-start" scope="col">Nome da Execução</th>
                      <th class="text-start" scope="col">Promotor</th>
                      <th class="text-start" scope="col">Loja</th>
                      <th class="text-start" scope="col">Data da Execução</th>
                      <th class="text-end" scope="col" style="width: 4%"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of executionList">
                      <td>
                        <b>{{ item.industry.name }}</b>
                      </td>
                      <td>{{ item.name }}</td>
                      <td>{{ item.promoter.username }}</td>
                      <td>
                        {{ item.store.cnpj | cnpj }} - {{ item.store.name }}
                      </td>
                      <td>{{ item.date | date : "dd/MM/yyyy HH:mm" }}</td>
                      <td class="text-end">
                        <button
                          class="btn btn-sm btn-light mr-2"
                          (click)="showDetails(item)"
                          aria-label="Detalhes"
                          title="Ver Detalhes"
                        >
                          <span class="fa fa-line-chart"></span>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </ng-container>
            </div>
            <div
              class="no-data"
              *ngIf="!loadingList && executionList.length == 0"
            >
              Nenhum registro encontrado.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-audit-show-config 
#auditShowConfigModal
></app-audit-show-config>