.card-promoter{
  border: 1px solid #e6eaf5;
  -webkit-box-shadow: -1px 10px 23px -15px rgba(0,0,0,0.66);
  -moz-box-shadow: -1px 10px 23px -15px rgba(0,0,0,0.66);
  box-shadow: -1px 10px 23px -15px rgba(0,0,0,0.66);
}

.card-user-padding{
  padding: 0.5rem 1.8rem !important;
}


.no-data {
  display: block;
  padding: 2rem 0;
  font-size: 1rem;
  text-align: center;
  color: #6b7785;
}

.btn-none{
  background: transparent !important;
  border: none !important;
}