:host {
  // background-color: #152B68;
}

.menu-item .active{
  background-color:transparent !important;

}

.menu-link .without-sub .active {
  background-color:transparent !important;
  color: #57B3D7;
}
