:host {
  height: inherit;
  width: inherit;
}

.onePage {

  color: #152B68;
  font-size: 22px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;

}

.text-small {
  font-size: small;
}