<div class="form-group">
	<label [ngClass]="{ 'required': isRequired() }" class="form-label" [for]="identifier">{{label}}:</label>
	<input autofocus class="form-control" [id]="identifier"
		maxlength="{{maxlength}}" [name]="identifier" type="password"
		(blur)="onBlur()" [attr.aria-invalid]="fieldIsInvalid()"
		[attr.aria-label]="getAccessibleLabel()"
		[attr.aria-required]="isRequired()"
		[formControl]="form.controls[identifier]"
		[ngClass]="{ 'is-invalid': fieldIsInvalid() }"
		[placeholder]="placeholder" [readOnly]="readonly">
	<div class="invalid-feedback" *ngIf="fieldIsInvalid()">
		{{label}} inválido
	</div>
</div>
